*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #F7F9FC;

}

.quiz-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    max-width: 700px;
    width: 85%;
    height: 550px;
    box-shadow: 2px 2px 4px rgba(46, 0, 0, 0.46);
    border-radius: 8px;

}

#quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a7acb1;
    width: 90%;
    height: 450px;
    padding: 20px;
    border-radius: 8px;
}

#question{
    margin-bottom: 20px;
}
#options{
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between buttons */
    flex-wrap: wrap; /* Ensures buttons wrap if there's not enough space */
    justify-content: center;


}

.option{
    position: relative;
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 400px;
    max-width: 70%;
    left: 15%;
}
.option:hover{
    background-color: #505050;
}

.option:active{
    background-color: #a7acb1;
}

#nextQuestion{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #501b0a;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 200px;
}

#nextQuestion:hover{
    background-color: #37474F;
}

.scoreBoard{
    display: flex;
    margin-top: 10px;
}